
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto BoldItalic', sans-serif;
}


.part3{
  background-color: rgb(243, 240, 240);
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(99, 94, 94);
  color: white;
}

.pageNumbers{
  list-style: none;
  display: flex;
}

.pageNumbers li{
  padding:10px;
  cursor:pointer;
  align-items:center;

}
.imageRadious{
  border-radius: 50%;
}
.part9{
  background-color: rgb(54, 238, 213);
}

.btn2{
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.top-left {
  position: absolute;
  top: 150px;
  left: -700px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.image-p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  
}


.font{
  font-family: "Roboto";
}

.nav-c{
  color: #E74C3C;

}
.carosel-text{
	position: absolute;
   width: 40%;
   top: 200px;
   left: 70px;
   color: white;
}

.carosel-text li{
	list-style: none;
	font-size: 22px;
	line-height: 2.5;
	 position: relative;
  padding-left: 0.9em;

}

.carosel-text li:before {
  font-family: 'my-icon-font';
  position: absolute;
  left: -1em;
  /* same as ul padding-left */
  top: 0.65em;
  /* depends on character, maybe use padding-top instead */
  /*  .... more styling, maybe set width etc ... */
}

.carosel-text ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  list-style: none;
}

.btnhed{
	width: 280px;
	height: 40px;
	background-color: #E74C3C;
	border: none;
	color: white;
	text-transform: uppercase;

}


 /* .hr-1{
	background-color: red;
	width: 300px;
	height: 10px;
  text-align: center;
}   */


@media only screen and (max-width: 576px) {
  .carosel-text {
   position: absolute;
   width: 80%;
   top: 170px;
   left: 40px;
   color: white;
  }
.carosel-text h2{
  font-size: 30px;
}

.carosel-text li{
	font-size: 16px;
	line-height: 1.5;
}
}