
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.part3{
  background-color: rgb(237, 245, 245);
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(99, 94, 94);
  color: white;
}

.pageNumbers{
  list-style: none;
  display: flex;
}

.pageNumbers li{
  padding:10px;
  cursor:pointer;
  align-items:center;

}
.imageRadious{
  border-radius: 50%;
}
.part9{
  background-color: rgb(54, 238, 213);
}